<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
    
    

<body >
    @RenderBody()


 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")    
    @Scripts.Render("~/bundles/AngularCustom");
    <script src="~/app/controller/BeerCtrl.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/MyApp.js"></script>

    <!--Ladda Materials-->
    <link rel="stylesheet" href="~/css/stylesheets/ladda-themeless.min.css">

    <script src="~/Scripts/dist/spin.min.js"></script>
    <script src="~/Scripts/dist/ladda.min.js"></script>
    <script src="~/Scripts/dist/ladda.jquery.min.js"></script>





    @RenderSection("scripts", required: false)
</body>
</html>
